/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
html, body, .poppi-chat {
  height: 100%
}
.poppi-chat .header {
  display: inline-block;
  width: calc(100% - 85px);
  height: 60px;
  position: fixed;
  top: 0px;
  left: 85px;
  background: #1074ae;
}
.poppi-chat .sidebar-left {
  display: inline-block;
  width: 85px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #075887;
}
.poppi-chat .sidebar-left.active {
  width: 280px;
}
.menu-left li {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
}
.menu-left li:hover {
  background: #084365;
}
.menu-left li a {
  display: inline-block;
  width: 100%;
}
.menu-left li a i {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  margin-left: 25px;
  float: left;
}
.poppi-chat .sidebar-left span {
  display: none;
}
.poppi-chat .sidebar-left.active li a span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
.sidebar-left .show-hide-nav {
  position: fixed;
  bottom: 0px;
  display: inline-block;
  text-align: right;
  padding: 15px 0px;
  float: left;
  height: 13px;
  width: 85px;
}
.sidebar-left .show-hide-nav:hover {
  background: #084365;
}
.sidebar-left .show-hide-nav .icon-arrows {
  font-size: 15px;
  color: #fff;
  margin-right: 10px;
}
header img {
  display: inline-block;
  width: 100px;
  float: left;
}
header ul {
  display: inline-block;
}
header ul li {
  display: inline-block;
}
.content-page {
  margin-top: 60px;
  margin-left: 85px;
  display: inline-block;
  width: calc(100% - 85px);
  height: calc(100% - 60px);
}
.content-left{
  display: inline-block;
  float: left;
  width: 480px;
  height: 100%;
}
.content-main{
  display: inline-block;
  float: left;
  background: red;
      height: 100%;
  width: calc(100% - 480px);
}
