/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,a:focus,li:hover,li:active,li:focus{
  outline: none;
}
a {
  text-decoration: none;
}
html, body, .poppi-chat,.content-page {
  font-family: 'Roboto', sans-serif;
  min-height: 100% !important;
  height: 100%;
}
.poppi-chat .header {
  display: inline-block;
  width: calc(100% - 85px);
  height: 60px;
  position: fixed;
  top: 0px;
  left: 85px;
  background: #1074ae;
}
.poppi-chat .sidebar-left {
  display: inline-block;
  width: 85px;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
  left: 0px;
  -webkit-transition: width ease-out .5s;
  -moz-transition: width  ease-out .5s;
  -o-transition: width  ease-out .5s;
  transition: width  ease-out .5s;
  background: #075887;
}
.poppi-chat .sidebar-left.navActive {
  width: 180px;
  -webkit-transition: width ease-out .5s;
  -moz-transition: width  ease-out .5s;
  -o-transition: width  ease-out .5s;
  transition: width  ease-out .5s;
}
.menu-left li {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
}
.menu-left li:hover {
  background: #084365;
}
.menu-left li a {
  display: inline-block;
  width: 100%;
}
.menu-left li a i {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  margin-left: 25px;
  float: left;
}
.poppi-chat .sidebar-left span {
  display: none;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  /*transition: visibility 0s, opacity 2s linear;*/
}
.poppi-chat .sidebar-left.navActive span{
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  /*visibility: visible;*/
  /*opacity: 1;*/
  /*transition: visibility 2s, opacity 2s linear;*/

}
.poppi-chat .sidebar-left.active li a span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
.sidebar-left .show-hide-nav {
  position: fixed;
  bottom: 0px;
  display: inline-block;
  text-align: right;
  padding: 15px 0px;
  float: left;
  height: 13px;
  width: 85px;
  -webkit-transition: width ease-out .5s;
  -moz-transition: width  ease-out .5s;
  -o-transition: width  ease-out .5s;
  transition: width  ease-out .5s;
}
.sidebar-left .show-hide-nav.navActive{
  width: 180px;
  -webkit-transition: width ease-out .5s;
  -moz-transition: width  ease-out .5s;
  -o-transition: width  ease-out .5s;
  transition: width  ease-out .5s;
}
.sidebar-left .show-hide-nav:hover {
  background: #084365;
}
.sidebar-left .show-hide-nav .icon-arrows {
  font-size: 15px;
  color: #fff;
  margin-right: 10px;
}
header img {
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-top: 20px;

}
header ul {
  display: inline-block;
  list-style-type: circle
}
header ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0 25px;
  line-height: 60px;
  float: left;
  position: relative;

}
header ul li:after{
  content: '';
  position: absolute;
  width: 4px;
  left: -4px;
  height: 4px;
  top:calc(50% - 2px);
  border: 1px solid #ffffff;
  background-color: #fff;
  border-radius: 100%;
}
header ul li a {
  color: #fff;
}
header ul li a number{
  font-size: 10px;
  color: #dfdfdf;
  margin-left: 10px;
}
header ul li.me:after{
  display: none;
}
header ul li.me a{
  background: #084365;
  border-radius: 4px;
  padding: 10px 20px 10px 5px;
}
header ul li.me a i{
  height: 30px;
  width: 30px;
  color: #4d7388;
  background: #fff;
  margin-right: 20px;
  border-radius: 4px;
  padding: 5px;
}
.content-page {
  width: 100%;
      height: 100%;
      position: fixed;
      left: 85px;
      top: 60px;
}
.content-left{
  display: inline-block;
  float: left;
  width: 480px;
  background-color: #043b5a;
  overflow: scroll;
  height: 100%;
}
.content-left .ui-widget-content{
  padding-bottom: 30px;
}
.content-main{
  display: inline-block;
  overflow-y: scroll;
  float: left;
  background: #ebebeb;
  height: calc(100% - 240px);
  width: calc(100% - 565px);
}


.media {
  padding: 20px 15px;
}
.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-object {
  display: block;
}
.media-left img {
  width: 45px;
  border-radius: 3px;
  height: 45px;
  vertical-align: middle;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body time {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.media-body p{
font-size:14px;
  line-height: 16px;
  color:#dddddd
}
.media.non-read{
  background-color: #084365;
}


.chat-left,.chat-right{
  width: 80%;
}
.media-chat .media-body{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  position: relative;
  overflow: initial;
}
.media-chat p{
  padding:15px;
  background-color: #fff;
color:#212121;
  border-radius: 5px;
  line-height: 20px;
}
.media-chat.chat-left .media-body:before{
  position: absolute;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  top: 10px;
  left: -6px;
}
.media-chat.chat-right .media-body:before{
  position: absolute;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  top: 10px;
  right: -6px;
}
.chat-right{
  float: right;
}
.chat-right .media-left{
  float: right;
  padding-left: 15px;
  padding-right: 0px;
}
.time-conversation{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #b5b5b5;
}
.time-conversation strong{
  font-weight: 600;
}
.time-conversation span{
  background: #ebebeb;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
.line{
  display: inline-block;
  border-bottom: 1px solid #b5b5b5;
  width: 100%;
  height: 1px;
  position: relative;
  top: 10px;
}
.chat-left time{
  padding-left: 60px;
  margin-top: 8px;
  display: block;
  font-size: 12px;
  color: #b5b5b5;
}
.chat-right time{
  padding-right: 60px;
  margin-top: 8px;
  display: block;
  font-size: 12px;
  text-align: right;
  color: #b5b5b5;
}
.actionChat {
  display: inline-block;
  width:calc(100% - 565px);
  background: #fff;
  z-index: 1;
  position: fixed;
  bottom: 0px;
}
.chatNote ul{
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.chatNote ul li {
  display: inline-block;
  margin-left: 20px;
  float: left;
  padding: 0 10px;
}
.chatNote ul li a{
  color:#a6a6a6;
  font-size: 12px;
  font-weight: 500;
}
.chatNote ul li.active a{
  color:#1074ae;
}
.text-reply{
  display: inline-block;
  width: 100%;
}
.chatNote ul li.active{
  position: relative;
}
.chatNote ul li.active:before{
  content: "";
  width: 50px;
  height: 1px;
  display: block;
  position: absolute;
  border-top: 2px solid #1074ae;
  left: calc(50% - 25px);
  top: 25px;
}
.text-reply textarea{
  width: 100%;
  font-size: 13px;
  border: none;
  height: 40px;
  padding: 10px;
  resize: none;
}
.iconAction ul li {
  display: inline-block;
  margin-left: 15px;
  float: left;
  padding: 0 5px;
}
.iconAction ul{
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
}
.iconAction  ul li a{
  color:#a6a6a6;
  font-size: 12px;
  font-weight: 400;
}
.text-reply textarea:focus{
  outline: none;
}
.chatNote ul li.right{
  float: right;
  margin-right: 5px;
}

.iconAction  ul li.right{
  float: right;
  margin-right: 5px;
}
.actionReply{
  margin-right: 5px;
  width: 100px;
  height: 32px;
  border: none;
  background: #1074ae;
  cursor: pointer;
  color: #fff;
}

.info-user-chat .left-user,
.info-user-chat .center-user,
.info-user-chat .right-user{
  width: 33.333%;
  display: inline-block;
  float: left;
}
.info-user-chat .left-user img{
  margin-left: 15px;
  width: 30px;
  height: 30px;
  float: left;
}
.info-user-chat{
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 10px 0px;

}
.left-user a span{
  margin-left: 10px;
  top: 5px;
  font-size: 14px;
  position: relative;
  color: #818181;
}
.left-user a i{
  position: relative;
  top: 5px;
  margin-left: 8px;
}
.center-user{
  text-align: center;
}
.center-user a{
  top: 5px;
  font-size: 14px;
  position: relative;
  color: #1074ae;
}
.right-user{
  text-align: right;
}
.right-user a span{
  margin-left: 8px;
}
.right-user a{
  top: 5px;
  margin-right: 15px;
  font-size: 14px;
  position: relative;
  color: #1074ae;
}