/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,a:focus,li:hover,li:active,li:focus{
  outline: none;
}
a {
  text-decoration: none;
}
html, body, .poppi-chat {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.poppi-chat .header {
  display: inline-block;
  width: calc(100% - 85px);
  height: 60px;
  position: fixed;
  top: 0px;
  left: 85px;
  background: #1074ae;
}
.poppi-chat .sidebar-left {
  display: inline-block;
  width: 85px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #075887;
}
.poppi-chat .sidebar-left.active {
  width: 280px;
}
.menu-left li {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
}
.menu-left li:hover {
  background: #084365;
}
.menu-left li a {
  display: inline-block;
  width: 100%;
}
.menu-left li a i {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  margin-left: 25px;
  float: left;
}
.poppi-chat .sidebar-left span {
  display: none;
}
.poppi-chat .sidebar-left.active li a span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
.sidebar-left .show-hide-nav {
  position: fixed;
  bottom: 0px;
  display: inline-block;
  text-align: right;
  padding: 15px 0px;
  float: left;
  height: 13px;
  width: 85px;
}
.sidebar-left .show-hide-nav:hover {
  background: #084365;
}
.sidebar-left .show-hide-nav .icon-arrows {
  font-size: 15px;
  color: #fff;
  margin-right: 10px;
}
header img {
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-top: 20px;

}
header ul {
  display: inline-block;
  list-style-type: circle
}
header ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0 25px;
  line-height: 60px;
  float: left;
  position: relative;

}
header ul li:after{
  content: '';
  position: absolute;
  width: 4px;
  left: -4px;
  height: 4px;
  top:calc(50% - 2px);
  border: 1px solid #ffffff;
  background-color: #fff;
  border-radius: 100%;
}
header ul li a {
  color: #fff;
}
header ul li a number{
  font-size: 10px;
  color: #dfdfdf;
  margin-left: 10px;
}
header ul li.me:after{
  display: none;
}
header ul li.me a{
  background: #084365;
  border-radius: 4px;
  padding: 10px 20px 10px 5px;
}
header ul li.me a i{
  height: 30px;
  width: 30px;
  color: #4d7388;
  background: #fff;
  margin-right: 20px;
  border-radius: 4px;
  padding: 5px;
}
.content-page {
  margin-top: 60px;
  margin-left: 85px;
  display: inline-block;
  width: calc(100% - 85px);
  height: calc(100% - 60px);
}
.content-left{
  display: inline-block;
  float: left;
  width: 480px;
  background-color: #043b5a;
  overflow: scroll;
  height: 100%;
}
.content-main{
  display: inline-block;
  float: left;
  background: red;
      height: 100%;
  width: calc(100% - 480px);
}


.media {
  padding: 20px 15px;
}
.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-object {
  display: block;
}
.media-left img {
  width: 45px;
  border-radius: 3px;
  height: 45px;
  vertical-align: middle;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body time {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.media-body p{
font-size:14px;
  line-height: 16px;
  color:#dddddd
}
.media.non-read{
  background-color: #084365;
}